<h1>Hi Admin! {{name}} </h1> <a href="/logout">logout</a>


<table>

<tr><th>Sr. No. </th><th> Client name </th><th>Shop name </th><th>Status  </th> </tr>
{{#each value}}<form action="/approve" method="POST">
<tr><td></td><td>{{ client_name}}</td>  <td>{{ shop_name}}</td> 
<td>{{ status}}
<input type="hidden" name="client_name" value="{{ client_name}}">
<input type="hidden" name="shop_name" value="{{ shop_name}}">
<select name="status">
<option value="active">Active</option>
<option value="inactive">Inactive</option>
</select><input type="submit" value="Approve">
</td> </tr></form>
 {{/each}}
 

</table>